{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>deli</title>
</head>
<style>
h1{
    text-align: center;
    text-transform: capitalize;
}
input[type=submit]{
    border-radius:100px;
    width: 50px;
    height: 50px;
    color: white;
    background: red;
    text-align: center;

}
</style>
<body>
    <h1>deli is the best in the world</h1><br>
    <form action="{% url 'count' %}">
        <textarea name="fulltext" id="text" cols="30" rows="10" placeholder="type your text for calculation"></textarea><br>
        <input type="submit" value="submit">
    </form>
</body>
</html>